.customers__content {
  margin: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 30px;
  justify-content: center;
}

h2 > span {
  display: inline-block;
}

.customers__content img {
  width: 100%;
  align-self: center;
}
