<div class="footer__form" id="contact-us">
  <div class="footer__form__header">
    <p
      class="footer__form__header__parag"
      [style.letterSpacing]="lang == 'ar' ? '0!important' : '5px'"
    >
      {{ "form subtitle" | translate | uppercase }}
    </p>
    <h2 class="h2 fw-bold">{{ "form title" | translate | titlecase }}</h2>
  </div>
  <form
    (ngSubmit)="onSubmit(formDirective)"
    #formDirective="ngForm"
    method="post"
    class="needs-validation"
    [formGroup]="contactForm"
    novalidate
  >
    <div
      class="form-floating {{
        lang == 'ar' ? 'form-floating-right' : 'form-floating-left'
      }}"
    >
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'fullname' | translate }}"
        formControlName="fullname"
        id="fullname"
        [class.is-invalid]="
          fullname.touched && fullname.dirty && fullname.invalid
        "
      />
      <label for="fullname">{{ "fullname" | translate | titlecase }}</label>
    </div>
    <div
      class="form-floating {{
        lang == 'ar' ? 'form-floating-right' : 'form-floating-left'
      }}"
    >
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'phone' | translate }}"
        formControlName="mobile"
        [class.is-invalid]="mobile.touched && mobile.dirty && mobile.invalid"
      />
      <label for="fullname">{{ "phone" | translate | titlecase }}</label>
    </div>
    <div
      class="form-floating {{
        lang == 'ar' ? 'form-floating-right' : 'form-floating-left'
      }}"
    >
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'company' | translate }}"
        formControlName="company"
        [class.is-invalid]="company.touched && company.dirty && company.invalid"
      />
      <label for="fullname">{{ "company" | translate | titlecase }}</label>
    </div>
    <div
      class="form-floating {{
        lang == 'ar' ? 'form-floating-right' : 'form-floating-left'
      }}"
    >
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'email' | translate }}"
        formControlName="email"
        [class.is-invalid]="email.touched && email.dirty && email.invalid"
      />
      <label for="fullname">{{ "email" | translate | titlecase }}</label>
    </div>
    <input [formControl]="honeypot" type="hidden" />

    <button
      [disabled]="isLoading"
      class="btn btn-primary text-capitalize"
      type="submit"
    >
      {{ "submit" | translate }}
    </button>
  </form>
</div>

<ng-container *ngIf="submitted">
  <div
    class="alert alert-{{ responseMessageClass }} alert-form {{
      lang == 'ar' ? 'alert-form-right' : 'alert-form-left'
    }} alert-dismissible fade show"
    role="alert"
    [style.paddingLeft]="lang == 'ar' ? '3rem' : '1rem'"
    [style.paddingRight]="lang == 'ar' ? '1rem' : '3rem'"
  >
    <span>{{ responseMessage | translate }}</span>
    <button
      [style.left]="lang == 'ar' ? '0' : 'unset'"
      [style.right]="lang == 'ar' ? 'unset' : '0'"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</ng-container>
