<div class="why-us" id="why-us">
  <div class="container">
    <header class="why-us__header">
      <h2 class="h2 text-primary fw-bold">
        {{ "it service header" | translate | uppercase }}
      </h2>
      <h3 class="h3">{{ "it service subheader" | translate }}</h3>
    </header>
    <div class="why-us__content">
      <div class="why-us__content__reason">
        <div class="why-us__content__reason__header">
          <div class="why-us__content__reason__icon">
            <img src="assets/images/team.svg" alt="" />
          </div>
          <h5 class="h5 fw-bold text-primary">
            {{ "team header" | translate | titlecase }}
          </h5>
        </div>
        <div class="why-us__content__reason__parag">
          <ul>
            <li>
              <p class="lead">
                {{ "team statement" | translate }}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="why-us__content__reason">
        <div class="why-us__content__reason__header">
          <div class="why-us__content__reason__icon">
            <img src="assets/images/clock.svg" alt="" />
          </div>
          <h5 class="h5 fw-bold text-primary">
            {{ "coverage header" | translate | titlecase }}
          </h5>
        </div>
        <div class="why-us__content__reason__parag">
          <ul>
            <li>
              <p class="lead">
                {{ "coverage statement 1" | translate }}
              </p>
            </li>
            <li>
              <p class="lead">
                {{ "coverage statement 2" | translate }}
              </p>
            </li>
            <li>
              <p class="lead">
                {{ "coverage statement 3" | translate }}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="why-us__content__reason">
        <div class="why-us__content__reason__header">
          <div class="why-us__content__reason__icon">
            <img src="assets/images/manager.svg" alt="" />
          </div>
          <h5 class="h5 fw-bold text-primary">
            {{ "csm header" | translate | titlecase }}
          </h5>
        </div>
        <div class="why-us__content__reason__parag">
          <ul>
            <li>
              <p class="lead">
                {{ "csm statement 1" | translate }}
              </p>
            </li>
            <li>
              <p class="lead">
                {{ "csm statement 2" | translate }}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="why-us__content__reason">
        <div class="why-us__content__reason__header">
          <div class="why-us__content__reason__icon">
            <img src="assets/images/search.svg" alt="" />
          </div>
          <h5 class="h5 fw-bold text-primary">
            {{ "proactive header" | translate | titlecase }}
          </h5>
        </div>
        <div class="why-us__content__reason__parag">
          <ul>
            <li>
              <p class="lead">
                {{ "proactive statement 1" | translate }}
              </p>
            </li>
            <li>
              <p class="lead">
                {{ "proactive statement 2" | translate }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
