.why-us {
  margin: 4rem auto;
}

.why-us__content {
  margin: 5rem auto 0;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 30px;
}

@media (max-width: 960px) {
  .why-us__content {
    grid-template-columns: repeat(1, 100%);
  }
}

.why-us__content__reason,
.why-us__content__reason__icon {
  position: relative;
}

.why-us__content__reason__header {
  margin-bottom: 2rem;
}

.why-us__content__reason__icon img {
  width: 100px;
}

.why-us__content__reason__parag .lead {
  font-size: 1rem;
}
