<h3 class="h3 banner-header">
  <span>{{ "banner title" | translate }}&nbsp;</span>
  <span class="text-primary fw-bold">{{ "mam" | translate }}</span>
</h3>
<div class="banner-content">
  <p class="banner-content__paragrapg">
    {{ "banner p1" | translate }}
  </p>
  <p class="banner-content__paragrapg">
    {{ "banner p2" | translate }}
  </p>
  <p class="banner-content__paragrapg">
    {{ "banner p3" | translate }}
  </p>
</div>
<div>
  <a href="#contact-us" class="btn btn-primary btn-banner">
    <span class="row justify-content-between">
      <span class="col">{{ "get quote" | translate | titlecase }}</span>
      <span class="col text-{{ lang == 'ar' ? 'start' : 'end' }}"
        ><i class="bi bi-chevron-{{ lang == 'ar' ? 'left' : 'right' }}"></i
      ></span>
    </span>
  </a>
</div>
