<footer [dir]="dir">
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "phone" | translate }}:</span
            >
            <span>01274999947</span>
            <span>01212877724</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "email" | translate }}:</span
            >
            <span>info@mamgroupeg.com</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "address" | translate }}:</span
            >
            <span class="location">{{ "address details" | translate }}</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-globe2"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "website" | translate }}:</span
            >
            <span>
              <a href="https://www.mamgroupeg.com" target="_blank"
                >www.mamgroupeg.com</a
              >
            </span>
          </div>
        </div>
      </div>
      <app-contact-us [dir]="dir" [lang]="currentLang"></app-contact-us>
    </div>
  </div>
  <div class="footer__copy-right">
    <div class="footer__copy-right__social-media">
      <a
        href="https://web.facebook.com/mamnetworks"
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href="https://wa.me/201212877724"
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
    <div class="footer__copy-right__info">
      <div class="footer__copy-right__statement">
        {{ "copyright" | translate }} &copy; 2023 {{ "mam" | translate }}.
        {{ "rights" | translate }}
      </div>
      <div class="footer__copy-right__brand-name">{{ "mam" | translate }}</div>
    </div>
    <div class="footer__copy-right__brand-img">
      <img
        src="assets/logos-png/logo-01.png"
        alt="company logo"
        width="100"
        height="50"
      />
    </div>
  </div>
</footer>
