<footer>
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span>Phone:</span>
            <span>01274999947</span>
            <span>01091754469</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span>Email:</span>
            <span>info@mamgroupeg.com</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span>Address:</span>
            <span>Atef ELsadat st, SHebein Elkom, Elmonofya</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-globe2"></i>
          </div>
          <div class="footer__info__contact__details">
            <span>Website:</span>
            <span>
              <a href="https://www.mamgroupeg.com" target="_blank"
                >www.mamgroupeg.com</a
              >
            </span>
          </div>
        </div>
      </div>
      <div class="footer__form" id="contact-us">
        <div class="footer__form__header">
          <p class="footer__form__header__parag">LET`S TALK</p>
          <h2 class="h2 fw-bold">Contact US Here</h2>
        </div>
        <form (ngSubmit)="onSubmit()" method="post" class="needs-validation" [formGroup]="contactForm" novalidate>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Full Name"
            formControlName="fullname"
            [class.is-invalid]="fullname.touched && fullname.dirty && fullname.invalid"
          />
          <!-- <ng-container
            *ngIf="fullname.touched && fullname.dirty && fullname.invalid"
          >
            <span *ngIf="" class="alert alert-danger">fullname is required</span>
          </ng-container> -->
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Mobile Number"
            formControlName="mobile"
            [class.is-invalid]="mobile.touched && mobile.dirty && mobile.invalid"
          />
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Company Name"
            formControlName="company"
            [class.is-invalid]="company.touched && company.dirty && company.invalid"
          />
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Email Address"
            formControlName="email"
            [class.is-invalid]="email.touched && email.dirty && email.invalid"
          />
          <input [formControl]="honeypot" type="hidden" />

          <button [disabled]="isLoading" class="btn btn-primary" type="submit">
            Submit
          </button>
          <div *ngIf="submitted">
            <span>{{ responseMessage }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__copy-right">
    <div class="footer__copy-right__social-media">
      <a
        href="https://web.facebook.com/mamnetworks"
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href="https://wa.me/201212877724"
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
    <div class="footer__copy-right__info">
      <div class="footer__copy-right__statement">
        Copyright &copy; 2023 MAM networks solutions. All Rights Reserved
      </div>
      <div class="footer__copy-right__brand-name">MAM Networks solutions</div>
    </div>
    <div class="footer__copy-right__brand-img">
      <img
        src="assets/logos-png/logo-01.png"
        alt="company logo"
        width="100"
        height="50"
      />
    </div>
  </div>
</footer>
