footer {
  margin-top: 7rem;
  background-color: var(--secondary-color);
  min-width: 100px;
  color: var(--white-color);
}

footer .footer__content {
  padding: 6rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

@media (max-width: 425px) {
  footer .footer__content {
    grid-template-columns: repeat(1, 100%);
    gap: 100px;
  }
}

@media (max-width: 960px) {
  footer .footer__content {
    grid-template-columns: repeat(1, 100%);
    gap: 100px;
  }
}

footer a {
  color: var(--white-color);
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 50px;
  max-width: fit-content;
}

.footer__info__contact {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 40px;
}

.footer__info__contact__icon,
.footer__copy-right__social-media__icon {
  padding: 15px;
  text-align: center;
  background: #fff;
  color: var(--secondary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

.footer__info__contact__details {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  width: 200px;
}

.footer__info__contact__details span:first-child {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 20px;
}

@media (max-width: 425px) {
  .footer__info__contact__details {
    width: 200px;
  }
}

.footer__info__contact__details span {
  /* width: 200px; */
  text-align: justify;
}


.footer__copy-right__social-media {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 120px;
}

.footer__copy-right__social-media__icon {
  padding: 10px;
  width: 55px;
  height: 55px;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}

.footer__copy-right__social-media__icon:has(> i.bi-facebook) {
  color: var(--facebook-color) !important;
}

.footer__copy-right__social-media__icon:has(> i.bi-facebook):hover {
  color: var(--white-color) !important;
  background-color: var(--facebook-color);
}

.footer__copy-right__social-media__icon:has(> i.bi-whatsapp) {
  color: var(--whatsapp-color) !important;
}

.footer__copy-right__social-media__icon:has(> i.bi-whatsapp):hover {
  color: var(--white-color) !important;
  background-color: var(--whatsapp-color);
}

.footer__copy-right {
  margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

.footer__copy-right__statement {
  font-size: 12px;
}

.footer__copy-right__brand-name {
  font-size: 10px;
}

.footer__copy-right__brand-img {
  margin-top: 1rem;
}
