<footer [dir]="dir">
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "phone" | translate | titlecase }}:</span
            >
            <span>
              <img src="assets/flags/4x3/eg.svg" width="25" alt="" />
              +201274999947
            </span>
            <span>
              <img src="assets/flags/4x3/om.svg" width="25" alt="" />
              +96877056562
            </span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "email" | translate | titlecase }}:</span
            >
            <span>info@al-ayadcom</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <!-- <i class="bi bi-geo-alt-fill"></i> -->
            <img src="assets/flags/4x3/eg.svg" alt="" />
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "egypt" | translate | uppercase }}:</span
            >
            <span class="location">{{ "address details eg" | translate }}</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <!-- <i class="bi bi-geo-alt-fill"></i> -->
            <img src="assets/flags/4x3/om.svg" alt="" />
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "oman" | translate | uppercase }}:</span
            >
            <span class="location">{{ "address details om" | translate }}</span>
          </div>
        </div>
        <div class="footer__info__contact">
          <div class="footer__info__contact__icon">
            <i class="bi bi-globe2"></i>
          </div>
          <div class="footer__info__contact__details">
            <span
              [style.letterSpacing]="
                currentLang == 'ar' ? '0!important' : '5px'
              "
              >{{ "website" | translate | titlecase }}:</span
            >
            <span>
              <a href="https://www.al-ayad.com" target="_blank"
                >www.al-ayad.com</a
              >
            </span>
          </div>
        </div>
      </div>
      <app-contact-us [dir]="dir" [lang]="currentLang"></app-contact-us>
    </div>
  </div>
  <div class="footer__copy-right">
    <div class="footer__copy-right__social-media">
      <a
        href=""
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href=""
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-whatsapp"></i>
      </a>
      <a
        href=""
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href=""
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-linkedin"></i>
      </a>
      <a
        href=""
        class="footer__copy-right__social-media__icon"
        target="_blank"
      >
        <i class="bi bi-snapchat"></i>
      </a>
    </div>
    <div class="footer__copy-right__info">
      <div class="footer__copy-right__statement">
        {{ "copyright" | translate }} &copy; 2023 al-ayad.
        {{ "rights" | translate }}
      </div>
    </div>
    <div class="footer__copy-right__brand-img">
      <img src="assets/logos/alayad-logo.png" alt="company logo" />
    </div>
  </div>
</footer>
