<div class="banner">
  <div class="banner-section">
    <div class="banner-section__words">
      <h2 class="h2 banner-header">
        <span class="fw-bold">All you Need in one place with&nbsp;</span
        ><span class="text-primary fw-bolder">MAM NETWORKS Provider</span>
      </h2>
      <div class="banner-content">
        <p class="lead banner-content__paragrapg">
          Specialized in importing and distributing all network equipment to all
          governorates of Egypt with 15 years of experience in networking
          devices of all types and forms (CCTV – WIFI – Firewall – V.O.I.P).
        </p>
        <p class="lead banner-content__paragrapg">
          Our goal is to help provide the latest products and shortages from
          abroad to the Egyptian market.
        </p>
        <p class="lead banner-content__paragrapg">
          We maintain the level of our services with the most skilled network
          engineers and technicians, and we also feature fast supply within only
          24 hours and professional customer service.
        </p>
      </div>
      <div>
        <button class="btn btn-primary btn-banner">
          <span class="row justify-content-between">
            <span class="col">Get Quote</span>
            <span class="col text-end"><i class="bi bi-chevron-right"></i></span>
          </span>
        </button>
      </div>
    </div>
    <div class="banner-section__image">
      <img
        src="assets/logos/logo-03.png"
        alt="banner image"
        class="banner-image"
      />
    </div>
  </div>
</div>
