<div
  id="bannerCarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/logos-png/logo-01.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="assets/logos-png/logo-02.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="8000">
      <video
        class="d-block w-100"
        autoplay="true"
        loop="true"
        muted="true"
        playsinline="true"
        webkit-playsinline="true"
        id="carouselVideo"
        #carouselVideo
      >
        <source src="assets/videos/vid-01.mp4" type="video/mp4" />
        <source src="assets/videos/vid-01.ogg" type="video/ogg" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
