<div class="partner" id="partners">
  <div class="container">
    <div class="partner-header">
      <h2 class="h2">
        <span>{{ "our" | translate }}</span>
        <span class="text-primary fw-bold">
          {{ "main partners" | translate }}
        </span>
        <span class="d-block">{{ "we work with" | translate }}</span>
      </h2>
    </div>
    <div class="partner-content">
      <ng-container *ngFor="let partner of partners; let partnerIndex = index">
        <div class="partner-content__{{ partnerIndex + 1 }}">
          <img
            src="assets/vendors/{{ partner.name }}.{{ partner.img_ext }}"
            alt="{{ partner.name }}"
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>
