.problems {
  margin: 3rem auto;
  padding: 4rem 0;
  background: linear-gradient(90deg, var(--primary-color) 50%, var(--secondary-color) 80%);
  color: var(--white-color);
}

.problems > .container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 20px;
}

@media (max-width: 960px) {
  .problems > .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.problems-content__list {
  list-style: decimal-leading-zero;
}

.problems .problems-buttons {
  align-self: center;
  justify-self: end;
}

@media (max-width: 960px) {
  .problems .problems-buttons {
    justify-self: center;
  }
}

.problems .problems-buttons .btn {
  padding: 1rem 4rem;
}
