<div class="problems">
  <div class="container">
    <div class="problems-content">
      <div class="mb-5 problems-content__header">
        <h2 class="h2">
          {{ "What’s the big" | translate }}&nbsp;<span class="fw-bold">{{
            "problems" | translate
          }}</span
          >&nbsp;{{ "we will solve?" | translate }}
        </h2>
      </div>
      <div class="problems-content__content">
        <ul class="problems-content__list">
          <li *ngFor="let problem of problems; let problemIndex = index">
            <p>
              {{ problem.name | translate }}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="problems-buttons">
      <a
        href="#contact-us"
        class="btn btn-outline-white"
        [style.padding]="currentLang == 'ar' ? '1rem 3rem' : '1rem 4rem'"
        >{{ "get quote" | translate | titlecase }}</a
      >
    </div>
  </div>
</div>
