.problems > .container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 20px;
}

@media (max-width: 960px) {
  .problems > .container {
    grid-template-columns: repeat(1, 100%);
  }
}

.problems-content__list {
  list-style: decimal-leading-zero;
}

.problems .problems-buttons {
  align-self: center;
  justify-self: end;
}

@media (max-width: 960px) {
  .problems .problems-buttons {
    justify-self: center;
  }
}

.problems .problems-buttons .btn {
  padding: 1rem 4rem;
}
