<div class="solutions">
  <div class="container">
    <div class="solutions__header">
      <h2 class="h2">
        {{ "dealing" | translate }}
        <span class="text-primary fw-bold">{{ "simple" | translate }}</span>
      </h2>
    </div>
    <ul class="solutions__content">
      <li
        *ngFor="let solution of solutions; let solutionIndex = index"
        class="solutions__step"
      >
        <div class="solutions__step__padge">
          <i class="bi bi-check2 text-secondary"></i>
        </div>
        <div class="solutions__step__content">
          <div class="solutions__step__content__header">
            <h4 class="h4 fw-bold text-primary">
              {{ solution.title | translate }}
            </h4>
          </div>
          <div class="solutions__step__content__words">
            <p>
              {{ solution.paragraph | translate }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
