<div class="solutions">
  <div class="container">
    <div class="solutions__header">
      <h2 class="h2">
        Our dealing system is
        <span class="text-primary fw-bold">so simple</span>
      </h2>
    </div>
    <ul class="solutions__content">
      <li class="solutions__step">
        <div class="solutions__step__padge"><i class="bi bi-check2"></i></div>
        <div class="solutions__step__content">
          <div class="solutions__step__content__header">
            <h4 class="h4">Get Quote</h4>
          </div>
          <div class="solutions__step__content__words">
            <p>
              Send your order with all technical specifications then receipt
              detailed price quotation.
            </p>
          </div>
        </div>
      </li>
      <li class="solutions__step">
        <div class="solutions__step__padge"><i class="bi bi-check2"></i></div>
        <div class="solutions__step__content">
          <div class="solutions__step__content__header">
            <h4 class="h4">Location Visit</h4>
          </div>
          <div class="solutions__step__content__words">
            <p>
              Schedule a date for the free site visit if you still need support
              determining your needs.
            </p>
          </div>
        </div>
      </li>
      <li class="solutions__step">
        <div class="solutions__step__padge"><i class="bi bi-check2"></i></div>
        <div class="solutions__step__content">
          <div class="solutions__step__content__header">
            <h4 class="h4">Contracting</h4>
          </div>
          <div class="solutions__step__content__words">
            <p>
              Starting of providing all products as fast as can with total
              guarantee.
            </p>
          </div>
        </div>
      </li>
      <li class="solutions__step">
        <div class="solutions__step__padge"><i class="bi bi-check2"></i></div>
        <div class="solutions__step__content">
          <div class="solutions__step__content__header">
            <h4 class="h4">After Sale Support</h4>
          </div>
          <div class="solutions__step__content__words">
            <p>
              Follow up to send products you need suddenly or any support you
              need at implementation phase
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
