nav.navbar {
  border-bottom: 1px solid var(--gray-color);
}

.navbar-brand .navbar-brand-img {
  object-fit: contain;
  width: 40px;
  height: 70px;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link:where(.active, .show) {
  color: var(--primary-color);
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  animation: header-animation 0.3s linear 1;
}

.nav-contact-us {
  padding: 0.5rem 3rem;
}

.navbar .form-select {
  padding: 0.5rem 2rem 0.5rem 1rem;
  display: inline;
  width: auto;
  border-radius: 0;
}

@keyframes header-animation {
  0%,
  100% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
