.our-services {
  margin: 4rem 0;
}

.our-services__container {
  position: relative;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 430px) {
  .our-services__container {
    grid-template-columns: 1fr;
  }
}

.our-servces__service {
  text-align: center;
}

.service_content__header img {
  width: 250px;
}
