<div class="core-values colored-section">
  <div class="container">
    <header class="core-values-header">
      <h2>
        <img
          class="core-values-img {{
            currentLang == 'ar' ? 'me-0 ms-2' : 'me-2 ms-0'
          }}"
          src="assets/images/core-values.svg"
          width="40"
          alt=""
        />
        <span class="fw-bold">{{ "core values" | translate | uppercase }}</span>
      </h2>
    </header>

    <div class="core-values-container">
      <div class="core-values__value">
        <header class="core-values__value_header">
          <h3 class="fw-bold">
            <i class="bi bi-award"></i>
            {{ "excellent quality" | translate | titlecase }}</h3>
        </header>
        <header class="core-values__value_content">
          <p class="lead">{{ "excellent quality statement" | translate | titlecase }}</p>
        </header>
      </div>
      <div class="core-values__value">
        <header class="core-values__value_header">
          <h3 class="fw-bold">
            <i class="bi bi-search"></i>
            {{ "commitment" | translate | titlecase }}</h3>
        </header>
        <header class="core-values__value_content">
          <p class="lead">{{ "commitment statement" | translate | titlecase }}</p>
        </header>
      </div>
      <div class="core-values__value">
        <header class="core-values__value_header">
          <h3 class="fw-bold">
            <img src="assets/images/hand-shake-white.svg" alt="transparency hand shake">
            {{ "transparency" | translate | titlecase }}</h3>
        </header>
        <header class="core-values__value_content">
          <p class="lead">{{ "transparency statement" | translate | titlecase }}</p>
        </header>
      </div>
      <div class="core-values__value">
        <header class="core-values__value_header">
          <h3 class="fw-bold">
            <i class="bi bi-graph-up-arrow"></i>
            {{ "continuous development" | translate | titlecase }}</h3>
        </header>
        <header class="core-values__value_content">
          <p class="lead">{{ "continuous development statement" | translate | titlecase }}</p>
        </header>
      </div>
    </div>
  </div>
</div>
