<!-- banner -->
<app-banner
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-banner>

<!-- core values -->
<app-core-values
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
></app-core-values>

<!-- our parteners -->
<app-partners [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"></app-partners>

<!-- services -->
<app-services [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"></app-services>

<!-- it infrastructure integration  -->
<app-it-integration
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-it-integration>

<!-- problems we will solve -->
<!-- <app-problems
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
></app-problems> -->

<!-- our solutions -->
<!-- <app-solutions
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-solutions> -->

<!-- why us -->
<app-why-us
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-why-us>

<!-- customers -->
<app-customers
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-customers>
