<!-- banner -->
<app-banner
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-banner>
<!-- company statistics -->
<app-statistics
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-statistics>
<!-- our parteners -->
<app-partners
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-partners>
<!-- problems we will solve -->
<app-problems
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-problems>
<!-- our solutions -->
<app-solutions
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-solutions>
<!-- why us -->
<app-why-us
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-why-us>
<!-- customers -->
<app-customers
  [attr.dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
  [lang]="currentLang"
  [dir]="currentLang == 'ar' ? 'rtl' : 'ltr'"
></app-customers>
