<div class="statistics">
  <div class="container">
    <div class="statistics_1">
      <div class="statistics-content">
        <h3 class="h3 text-primary statistics-content__number">+15</h3>
        <h5 class="h5 text-secondary statistics-content__word">
          {{ "years" | translate }}
        </h5>
      </div>
      <div class="statistics__description">
        {{ "in the market" | translate }}
      </div>
    </div>
    <div class="statistics_2">
      <div class="statistics-content">
        <h3 class="h3 text-primary statistics-content__number">+3700</h3>
        <h5 class="h5 text-secondary statistics-content__word">
          {{ "clients" | translate }}
        </h5>
      </div>
      <div class="statistics__description">
        {{ "happy & satisfy" | translate }}
      </div>
    </div>
    <div class="statistics_3">
      <div class="statistics-content">
        <h3 class="h3 text-primary statistics-content__number">+515</h3>
        <h5 class="h5 text-secondary statistics-content__word">
          {{ "product" | translate }}
        </h5>
      </div>
      <div class="statistics__description">
        {{ "all network field" | translate }}
      </div>
    </div>
    <div class="statistics_4">
      <div class="statistics-content">
        <h3 class="h3 text-primary statistics-content__number">+18</h3>
        <h5 class="h5 text-secondary statistics-content__word">
          {{ "governorates" | translate }}
        </h5>
      </div>
      <div class="statistics__description">
        {{ "all in Egypt" | translate }}
      </div>
    </div>
  </div>
</div>
