<div class="statistics">
  <div class="statistics_1">
    <div class="statistics-content">
      <h3 class="h3 text-primary statistics-content__number">15</h3>
      <h5 class="h5 text-primary statistics-content__word">years +</h5>
    </div>
    <div class="statistics__description">in the market</div>
  </div>
  <div class="statistics_2">
    <div class="statistics-content">
      <h3 class="h3 text-primary statistics-content__number">3700</h3>
      <h5 class="h5 text-primary statistics-content__word">clients +</h5>
    </div>
    <div class="statistics__description">happy & satisfy</div>
  </div>
  <div class="statistics_3">
    <div class="statistics-content">
      <h3 class="h3 text-primary statistics-content__number">515</h3>
      <h5 class="h5 text-primary statistics-content__word">product +</h5>
    </div>
    <div class="statistics__description">all network field</div>
  </div>
  <div class="statistics_4">
    <div class="statistics-content">
      <h3 class="h3 text-primary statistics-content__number">18</h3>
      <h5 class="h5 text-primary statistics-content__word">governorates +</h5>
    </div>
    <div class="statistics__description">all in Egypt</div>
  </div>
</div>
